.header {
    nav {
        padding: 24px;
    }
    &__logo {
        > img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__menu {
        //mobile menu

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
    &__links {
        display: block;
        > a {
            color: $grayishblue;
            font-size: $font-sm;
            &:not(:last-child) {
                margin-right: 32px;
            }
        }
    }
    a.button {
        display: block;
    }
}
